<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team_cat_iot2020">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"

        >
        <activity android:name=".setting"></activity>
        <activity android:name=".my_page" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->
<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
        <activity android:name=".dsfsf" />
        <activity android:name=".health_stastic" />
        <activity android:name=".cctv2" />
        <activity
            android:name=".cctv1"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".feed" />
        <activity
            android:name=".cctv"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".cat_info">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".login">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>


        <activity android:name=".sign_up">
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.MAIN" />-->
<!--                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                    </intent-filter>-->
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation">

        </activity>
    </application>

</manifest>